html {
  color: #c0c5ce;
  background-color: #343d46;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#game-view {
  display: inline-flex;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
}

#leaderboard-view {
  display: inline-flex;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  margin-left: 10px;
  margin-top: 1px;
  margin-bottom: 1px;
  padding: 10px;
}

#game-instance {
  color: #4f5b66;
  font-size: medium;
}

#login-container {
  padding-bottom: 10px;
}

#loggedin-user {
  font-weight: bold;
}

.container{
  display: flex;
}

.fixed{
  width: 640px;
}

.flex-item{
  flex-grow: 1;
}