html {
  color: #c0c5ce;
  background-color: #343d46;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#game-view {
  display: inline-flex;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  margin-top: 3px;
}

/**
  hide global leaderboard
*/
#leaderboard-global-container {
  display:none;
}

#leaderboard-container, #leaderboard-global-container{
  margin-left: 10px;
  margin-top: 1px;
  margin-bottom: 1px;
  min-width: 305px;
}

#leaderboard-view, #leaderboard-global-view {
  display: inline-flex;
  border-width: 1px;
  border-style: solid;
  border-color: #c0c5ce;
  margin-top: 5px;
  padding: 10px;
}

#game-instance {
  color: #4f5b66;
  font-size: medium;
}

#login-container {
  padding-bottom: 10px;
}

#loggedin-user {
  font-weight: bold;
}

.leaderboard-header {
  border-width: 1px;
  border-bottom-style: solid;
  border-color: #c0c5ce;
}

.leaderboard-row {
  margin-bottom: 4px;
}

.leaderboard-column-rank-pic {
  display: inline-block;
  overflow: hidden;
  width: 50px;
}

.leaderboard-column-rank {
  display: inline-block;
  overflow: hidden;
  width: 20px;
}

.leaderboard-column-pic {
  display: inline-block;
  overflow: hidden;
  width: 30px;
}

.leaderboard-column-name {
  display: inline-block;
  width: 180px;
  max-width: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.leaderboard-column-score {
  display: inline-block;
  overflow: hidden;
  width: 60px;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.container-column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.fixed{
  width: 640px;
}

.flex-item{
  flex-grow: 1;
}

.share-icon {
  width: 15px;
  height: 15px;
  filter: invert(48%) sepia(5%) saturate(1000%) hue-rotate(130deg) brightness(95%) contrast(80%);
}

.share-button {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}